.portfolio{
    background-image: unset;
    background-color: #ffffff;
}
.portfolio-tekst ul li{
    color: blue;
    text-align: left;
    width: auto;
}
.vlak{
    background-color: #28a2dc;
}
.vlak h2{
    color: #ffffff;
}
.vlak p{
    color: white;
}
.portfolio-tekst h3{
    color: #be144c;
}
.vlak-groot{
    background-color: #28a2dc;
    color: white;
}
.vlak-groot h2{
    color: #ffffff;
}
div figure{
    margin: 0;
}
.portfolio-eind{
    background-color: #f3a00a;
}