.portfolio{
    background-image: unset;
    background-color: #f0882c2a;
}
.portfolio-tekst ul li{
    color: blue;
    text-align: left;
    width: auto;
}
.vlak{
    background-color: white;
}
.vlak h2{
    color: #ed7779;
}
.vlak p{
    color: black;
}
.portfolio-tekst h3{
    color: #ed7779;
}
.vlak-groot{
    background-color: white;
    color: black;
}
.vlak-groot h2{
    color: #ed7779;
}
div figure{
    margin: 0;
}
.portfolio-eind{
    background-color: #ed7779;
}